.centered {
    margin: 200px auto;
    border: 1px solid lightgrey;
}

.option{
    margin-bottom: 15px !important;
}

.input{
    display: flex;
    flex-direction: column;
}

input{
    height: 30px;
}